@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: 'Public Sans';
	src:
		url('/fonts/PublicSans-Regular.woff2') format('woff2'),
		url('/fonts/PublicSans-Regular.woff') format('woff');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'Public Sans';
	src:
		url('/fonts/PublicSans-Bold.woff2') format('woff2'),
		url('/fonts/PublicSans-Bold.woff') format('woff');
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'Public Sans';
	src:
		url('/fonts/PublicSans-Black.woff2') format('woff2'),
		url('/fonts/PublicSans-Black.woff') format('woff');
	font-weight: 900;
	font-style: normal;
	font-display: swap;
}
