---
import Layout from '@layouts/DefaultPage.astro';
import { tutorial } from '@content/tutorials/tutorials.json';
import YouTubeClipsGrid from '@components/YouTubeClipsGrid.astro';
import type { Tutorial } from '../types/interfaces';
export interface Props {
	tutorials: Tutorial[];
}

// Import all category files
const categoryFiles = import.meta.glob('../content/categories/*.json', { eager: true }) as Record<
	string,
	CategoryFile
>;

type CategoryFile = {
	category: string;
	order: number;
};

// Create categoryOrder object
const categoryOrder: Record<string, number> = Object.values(categoryFiles).reduce<
	Record<string, number>
>((acc, file) => {
	const { category, order } = file;
	acc[category] = order;
	return acc;
}, {});

function groupTutorialsByCategory(tutorials: Tutorial[]): Record<string, Tutorial[]> {
	const grouped: Record<string, Tutorial[]> = {};

	tutorials.forEach((tutorial) => {
		tutorial.category.forEach((category: string) => {
			if (!grouped[category]) {
				grouped[category] = [];
			}
			grouped[category].push(tutorial);
		});
	});

	// Sort the categories based on their order
	const sortedCategories = Object.keys(grouped).sort(
		(a, b) => (categoryOrder[a] || Infinity) - (categoryOrder[b] || Infinity),
	);

	// Create a new object with sorted categories
	const sortedGrouped: Record<string, Tutorial[]> = {};
	sortedCategories.forEach((category) => {
		sortedGrouped[category] = grouped[category];
	});

	return sortedGrouped;
}
const groupedTutorials = groupTutorialsByCategory(tutorial);
const bgColors = [
	'bg-teal-100 dark:bg-teal-900',
	'bg-green-100 dark:bg-green-900',
	'bg-blue-100 dark:bg-blue-900',
	'bg-purple-100 dark:bg-purple-900',
	'bg-pink-100 dark:bg-pink-900',
	'bg-yellow-100 dark:bg-yellow-900',
	'bg-red-100 dark:bg-red-900',
	'bg-indigo-100 dark:bg-indigo-900',
	'bg-orange-100 dark:bg-orange-900',
	'bg-gray-100 dark:bg-gray-900',
];
---

<Layout>
	{
		Object.entries(groupedTutorials).map(([category, tutorials], index) => (
			<section
				class={`mb-8 rounded-base border-4 border-black p-4 shadow-cardLight sm:p-8 ${bgColors[index % bgColors.length]} `}
			>
				<h2 class="mb-3 text-5xl font-heading uppercase tracking-wider text-text dark:text-darkText">
					{category}
				</h2>

				<YouTubeClipsGrid tutorials={tutorials} />
			</section>
		))
	}
</Layout>
