---
import ColorThemeToggle from '@components/ColorThemeToggle.astro';
import { ViewTransitions } from 'astro:transitions';
import { Icon } from 'astro-icon/components';
---

<html lang="en">
	<head>
		<ViewTransitions />
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<meta
			name="description"
			content="Explore a comprehensive collection of web animation tutorials, techniques, and resources to enhance your web development skills."
		/>
		<meta
			name="keywords"
			content="web animation, tutorials, CSS animations, JavaScript animations, SVG animations"
		/>
		<meta property="og:title" content="Animation Tutorials Hub" />
		<meta
			property="og:description"
			content="Explore a comprehensive collection of web animation tutorials, techniques, and resources to enhance your web development skills."
		/>
		<meta property="og:type" content="website" />
		<meta property="og:url" content="https://animationhub.site/" />
		<meta property="og:image" content="/og-image.jpg" />

		<meta name="author" content="Your Name or Organization" />

		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap"
			rel="stylesheet"
		/>
		<title>Animation Tutorials Hub</title>
	</head>
	<body
		class="bg-bg bg-[radial-gradient(#80808080_1px,transparent_1px)] transition duration-300 ease-in-out [background-size:16px_16px] dark:bg-darkBg"
		><div
			class="[&::-webkit-scrollbar-track]:bg-light-bg bg-[radial-gradient(#80808080_1px,transparent_1px)] [background-size:16px_16px] [&::-webkit-scrollbar-thumb]:bg-black hover:[&::-webkit-scrollbar-thumb]:bg-mainHover active:[&::-webkit-scrollbar-thumb]:bg-mainActive dark:hover:[&::-webkit-scrollbar-thumb]:bg-mainActive dark:[&::-webkit-scrollbar-track]:bg-darkBg [&::-webkit-scrollbar]:w-3"
		>
		</div>
		<div class="px-2 sm:px-8">
			<nav
				class="mb-8 mt-12 flex items-center justify-between rounded-base border-4 border-b-4 border-black bg-navColor px-8 py-4 text-text shadow-cardLight dark:bg-[#d8a93c] dark:text-white"
			>
				<div class="text-2xl font-bold">Animation Tutorials Hub</div>
				<div class="flex items-center">
					<div class="group relative">
						<a
							href="https://github.com/CarloBu/web-animation-tutotials-hub"
							target="_blank"
							rel="noopener noreferrer"
							aria-label="Interested in viewing the code?"
						>
							<Icon
								name="github"
								class="h-6 w-6 text-black transition duration-300 ease-in-out hover:text-pink-400 dark:text-white dark:hover:text-pink-400"
							/>
						</a>

						<span class="sr-only"
							>The collection of web animation tutorials in one place open-source repository</span
						>
					</div>
					<!--<a href="/about" class="dark:text-white text-black">About</a>-->
					<ColorThemeToggle />
				</div>
			</nav>
			<slot />
		</div>
	</body>
</html>
